[data-sek-module-type=czr_social_icons_module] .sek-module-inner .sek-social-icons-wrapper {margin: 10px 0;}
.nb-loc .sek-module-inner .sek-social-icons-wrapper {text-align: center;}
.nb-loc .sek-module-inner .sek-social-icons-wrapper>:not(:last-child) {padding-right: 8px;}
.nb-loc .sek-module-inner .sek-social-icons-wrapper>li {display: inline-block;}
.nb-loc .sek-module-inner .sek-social-icons-wrapper>li a {color: #707070;}
.nb-loc .sek-module-inner .sek-social-icons-wrapper>li .sek-social-icon {font-size: 28px;line-height: 1.5em;}
.nb-loc .sek-module-inner .sek-social-icons-wrapper>li .sek-social-icon {-webkit-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
[data-sek-id="__nimble__9c994df5bfef"] .sek-module-inner .sek-social-icons-wrapper > *:not(:last-child) {padding-right: 8px;}
.nb-loc [data-sek-id="__nimble__9c994df5bfef"] [data-sek-item-id="904ca3f921ab"] .sek-social-icon {color: #3b5998;}
[data-sek-id="__nimble__9c994df5bfef"]  [data-sek-item-id="904ca3f921ab"] .sek-social-icon:hover {color: #5f7ec1;}
.nb-loc [data-sek-id="__nimble__9c994df5bfef"] [data-sek-item-id="65bcc6f3e288"] .sek-social-icon {color: #78db27;}
[data-sek-id="__nimble__9c994df5bfef"]  [data-sek-item-id="65bcc6f3e288"] .sek-social-icon:hover {color: #a1e669;}